@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin transition-ease {
  transition: all 0.8s ease;
}

@mixin mobile {
  @media screen and (max-width: 650px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 900px) {
    @content;
  }
}

@mixin heading {
  font-size: 64px;
  text-shadow: 2px 0px 2px white;
  text-align: center;
  margin: 0rem 1rem;

  width: 100%;
  @include mobile {
    font-size: 36px;
  }
}
