.mentors {
  display: flex;
  padding-top: 10vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__orange {
    position: absolute;
    z-index: -1;
    top: -3%;
    right: -3%;
    width: 62vw;

    @include mobile {
      width: 100%;
      top: 0%;
      right: 0%;
      filter: opacity(0.6);
    }
  }
  &__white {
    position: absolute;
    z-index: -1;
    top: 52%;
    left: 0%;
    width: 50vw;

    @include mobile {
      width: 100%;
      top: 50%;
      left: 0%;
      filter: opacity(0.6);
    }
  }

  &__heading {
    @include heading;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding: 3rem;
    margin: 2rem auto;
    justify-content: space-around;
    align-items: center;

    &__card {
      display: grid;
      grid-template-rows: 250px 1fr 1fr 1fr;
      padding: 20px 10px;
      gap: 2px;
      margin: 0rem 1.3rem;
      align-content: center;
      justify-items: center;

      @include mobile {
        padding: 10px;
        margin: 1rem;
      }

      img {
        display: grid;
        padding: 25px 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }

      .name {
        font-size: 24px;
        color: $accent-color;
      }
      .surname {
        font-size: 24px;
        color: $accent-color;
      }
      .designation {
        font-size: 18px;
        color: $secondary-color;
      }
    }
  }
}
