.sponsors {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;

  &__heading {
    @include heading;
    margin: 2rem;
  }
  &__sub-heading {
    @include sub-heading;
    margin: 1rem;
  }

  &__title {
    width: 80%;
    position: relative;
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-around;
    min-width: 280px;
    flex-wrap: wrap;

    img {
      width: 550px;
      margin: 2rem;
      @include tablet {
        width: 400px;
      }
      @include mobile {
        width: 300px;
      }
    }
  }

  &__sponsor {
    width: 95%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .fline {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
      img {
        margin: 2rem 1rem 4rem 1rem;
        width: 180px;
      }
    }
    .sline {
      width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      img {
        margin: 2rem 1rem;

        width: 240px;
      }
    }
    .tline {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      img {
        margin: 2rem 1rem;
        width: 180px;
      }
    }
  }
}
